{% if messages %}
    <div id="messages">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620" style="display: block; position: relative;">
                <a href="#" style="position: absolute; right: 15px;" class="link-no" onclick="hideMessages()"><i class="fas fa-times"></i></a>
                {% for message in messages %}
                  <div class="{{ message.tags }}" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
            </div>
        </nav>
    </div>

    <script>
        function hideMessages() {
            $('#messages').fadeOut("fast");
            var top = parseInt($("#page-content").css("padding-top"));
            var mes = parseInt($("#messages").outerHeight());
            $("#page-content").animate({paddingTop: top-mes}, "slow");
        }
        $(document).ready(function () {
            var top = parseInt($("#page-content").css("padding-top"));
            var mes = parseInt($("#messages").outerHeight());
            $("#page-content").css("padding-top", top+mes);
        });
    </script>
{% endif %}