Babel==2.7.0
bleach-whitelist~=0.0.10
Django==2.2.3
django-bootstrap4~=0.0.8
django-money==0.15
django-phonenumber-field==3.0.1
django-versatileimagefield~=1.10
gunicorn~=19.9.0
django-markup~=1.4.1
phonenumbers==8.10.14
pyyaml~=5.1.1
psycopg2-binary~=2.8.3
pytz==2019.1
setuptools==39.1.0
sendgrid-django~=4.2.0
sqlparse==0.3.0
