{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="container">
      <div class="section-intro text-center">
        <h2>Edit your profile</h2>
      </div>
      <div class="row">
        <form action="" method="post" class="form ">
            {% csrf_token %}
            <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
              <div class="service-card">
                  <img src="/files/{{ picture }}" style="margin-bottom: 15px;" />
                  <div class="form-group">
                      <label for="id_picture">Update picture</label>
                      <div class="bootstrap4-multi-input">
                          <input type="file" name="picture" id="id_picture">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-check">
                          <input type="checkbox" name="picture_public_participants" class="form-check-input" id="id_picture_public_participants" {% if form.picture_public_participants.value %}checked{% endif %}>
                          <label class="form-check-label" for="id_picture_public_participants">Display picture to other participants</label>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-check">
                          <input type="checkbox" name="picture_public_sponsors_and_recruiters" class="form-check-input" id="id_picture_public_sponsors_and_recruiters" {% if form.picture_public_sponsors_and_recruiters.value %}checked{% endif %}>
                          <label class="form-check-label" for="id_picture_public_sponsors_and_recruiters">Display picture to sponsors and recruiters</label>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-8 col-lg-8 mb-8 mb-lg-0">
                <div class="service-card">
                    <div class="form-group">
                        <label for="id_name">First name</label>
                        <input type="text" name="name" value="{{ form.name.value }}" maxlength="225" class="form-control" placeholder="First name" id="id_name">
                    </div>
                    <div class="form-group">
                        <label for="id_surname">Last name</label>
                        <input type="text" name="surname" value="{{ form.surname.value }}" maxlength="225" class="form-control" placeholder="Last name" id="id_surname">
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input type="email" name="email" value="{{ form.email.value }}" maxlength="225" class="form-control" placeholder="hacker@kthack.com" id="id_email">
                    </div>
                    <div class="form-group">
                        <label for="id_phoneemail">Phone</label>
                        <input type="text" name="phone" value="{{ form.phone.value }}" maxlength="225" class="form-control" placeholder="hacker@kthack.com" id="id_phone">
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-lg-6 mb-6 mb-lg-0">
                            <div class="form-group">
                                <label for="id_city">City</label>
                                <input type="text" name="city" value="{{ form.city.value }}" maxlength="225" class="form-control" placeholder="hacker@kthack.com" id="id_city">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 mb-6 mb-lg-0">
                            <div class="form-group">
                                <label for="id_country">Country</label>
                                <input type="text" name="country" value="{{ form.country.value }}" maxlength="225" class="form-control" placeholder="hacker@kthack.com" id="id_country">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">{% trans "Update" %}</button>
                    </div>
                </div>
            </div>
         </form>
      </div>
    </div>
{% endblock %}