{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container">
      <div class="section-intro text-center">
        <h2>Signup</h2>
      </div>
      <div class="row">
        <form action="" method="post" class="form ">
            {% csrf_token %}
            <div class="col-md-6 col-lg-6 mb-6 mb-lg-0 col-centered">
              <div class="service-card">
                <div class="form-group">
                    <label for="id_name">First name</label>
                    <input type="text" name="name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}" maxlength="225" class="form-control" placeholder="Elliot" id="id_name">
                </div>
                <div class="form-group">
                    <label for="id_surname">Last name</label>
                    <input type="text" name="surname" value="{% if form.surname.value %}{{ form.surname.value }}{% endif %}" maxlength="225" class="form-control" placeholder="Alderson" id="id_surname">
                </div>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input type="email" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" maxlength="225" class="form-control" placeholder="elliot@kthack.com" id="id_email">
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input type="password" name="password" maxlength="225" class="form-control" placeholder="****************" id="id_password">
                </div>
                <div class="form-group">
                    <label for="id_password2">Repeat password</label>
                    <input type="password" name="password2" maxlength="225" class="form-control" placeholder="****************" id="id_password2">
                </div>
                <div class="form-group">
                    <label for="id_phoneemail">Phone</label>
                    <input type="text" name="phone" value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}" maxlength="225" class="form-control" placeholder="+12125550179" id="id_phone">
                </div>
                <div class="form-group">
                    <span>Please note the following information is only for demographic purposes and is not taken into account (not even displayed) during the review process.</span>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 mb-6 mb-lg-0">
                        <div class="form-group">
                            <label for="id_birthday">Birthday</label>
                            <input type="date" name="birthday" value="{% if form.birthday.value %}{{ form.birthday.value }}{% endif %}" maxlength="225" class="form-control" id="id_birthday">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-6 mb-lg-0">
                        <div class="form-group">
                            <label for="id_sex">Sex</label>
                             <select name="sex" class="form-control" id="id_sex">
                                 {% for sex, sex_value in sexes %}
                                    <option value="{{ sex_value }}" {% if sex == "Female" %}selected{% endif %}>{{ sex }}</option>
                                 {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 mb-6 mb-lg-0">
                        <div class="form-group">
                            <label for="id_city">City</label>
                            <input type="text" name="city" value="{% if form.city.value %}{{ form.city.value }}{% endif %}" maxlength="225" class="form-control" placeholder="New York" id="id_city">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 mb-6 mb-lg-0">
                        <div class="form-group">
                            <label for="id_country">Country</label>
                            <input type="text" name="country" value="{% if form.country.value %}{{ form.country.value }}{% endif %}" maxlength="225" class="form-control" placeholder="United States of America" id="id_country">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" name="terms" class="form-check-input" id="id_terms" required>
                        <label class="form-check-label" for="id_terms">I've read, understand and accept the <a href="../../page/legal/terms-and-conditions" target="_blank">Terms &amp; Conditions</a> and the <a href="../../page/legal/privacy-and-cookies" target="_blank">Privacy and Cookies Policy</a>
                        </label>
                    </div>
                </div>
                <div class="form-group-button-2">
                    <button class="btn btn-primary btn-block" type="submit">{% trans "Signup" %}</button>
                </div>
                <div class="form-group">
                    <p>Already have an account? Login <a href="{% url 'user_login' %}">here</a>!</p>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
{% endblock %}