{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load app_tags %}
{% load event_tags %}
{% load static %}

{% block head_title %}{{ event.name }} {{ event.starts_at | date:"Y" }}  {% trans "live schedule" %}{% endblock %}

{% block navbar %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block background %}
{% endblock %}

{% block body %}
    <div id="live-bar">
        <h3>Remaining time</h3>
        <h1 id="live-time">{{ event.ends_at | time_left | timedelta_display }}</h1>
        <a id="live-back" class="link-button-inline" href="{% if request.user.is_autehnticated %}{% url "app_dashboard" %}{% else %}{% url "app_home" %}{% endif %}"><i style="padding-right: 10px;" class="fas fa-long-arrow-alt-left"></i>Go back</a>
    </div>
    <!-- TODO: Autoscroll -->
    <div class="container">
        <!--<div class="section-intro text-center">
            <h2>{{ event.name }} {{ event.starts_at | date:"Y" }} live schedule</h2>
        </div>-->
        {% for schedule_item in schedule %}
            <div class="row {% if now >= schedule_item.time_from and now < schedule_item.time_to %}schedule-event-active {% elif now > schedule_item.time_from %}schedule-event-passed {% endif %}schedule-event">
            {% if schedule_item.time_from in days %}
                <div class="col-md-12 col-lg-12 mb-12" style="margin: 0.5rem 0;">
                    <h2>{{ schedule_item.time_from | date:"l d" }}</h2>
                </div>
            {% endif %}
            {% for schedule_item_inner in schedule_item.schedule %}
                <div class="col-md-12 col-lg-12 mb-12" style="margin: 0.5rem 0;">
                    <div class="schedule-event-time">
                        <h3 style="margin-right: 4px;">{{ schedule_item_inner.starts_at | display_clock }}</h3>
                        <h3>{{ schedule_item_inner.starts_at | date:"H:i" }}</h3>
                        {% if schedule_item_inner.ends_at %}
                            <br>
                            <h5>{{ schedule_item_inner.ends_at | date:"H:i" }}</h5>
                        {% endif %}
                    </div>
                    <div class="schedule-event-item">
                        <h3>{{ schedule_item_inner.name }}</h3>
                        {% if schedule_item_inner.description %}
                            <p>{{ schedule_item_inner.description }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

    <link rel="stylesheet" href="{% static 'css/live.css' %}">
    <script src="{% static "js/live.js" %}"></script>

    <script>
        var countDownDate = new Date("{{ event.ends_at | date:"Y-m-d H:i:s" }}").getTime();
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;

            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("live-time").innerHTML = ("0" + (days * 24 + hours)).slice(-2) + ":" + ("0" + minutes).slice(-2) + ":" + ("0" + seconds).slice(-2);

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("live-time").innerHTML = "00:00:00";
            }
        }, 100);
    </script>
{% endblock %}
