html, body {
    height: 100%;
}

.container-home {
    height: 100%;
    overflow: hidden;
}

.home-top {
    position: relative;
}

.home-picture {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: block;
}

.home-picture img {
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .home-picture img {
        margin-bottom: 2rem;
    }
}

#home-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.25;
    z-index: -50;
}

.home-titles h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 800;
}

.home-titles h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 2rem;
}

.home-titles h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.home-titles p, .home-titles a {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(240, 240, 240, 0.5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(240, 240, 240, 0.5);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(240, 240, 240, 0.5);
}

.home-background {
    opacity: 1 !important;
    filter: blur(2px) !important;
    -webkit-filter: blur(2px) !important;
}

body {
    background-color: #003984 !important;
}

.home-button {
    display: inline-block;
    border: 1px solid #ffffff !important;
    color: #fff !important;
    padding: 8px 14px !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (min-width: 600px) {
    .home-button {
        padding: 6px 12px !important;
    }
}

.home-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #fff !important;
}

.home-links {
    margin-top: -0.25rem;
}

.home-links p, .home-links a {
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.home-button2 {
    display: inline-block;
    color: #fff;
}

.home-button2:hover {
    color: rgba(255, 255, 255, 0.5);
}

.home-faq {
    background-color: #f0f0f0;
    padding: 5rem 0 5rem 0;
}

.home-faq h2 {
    color: rgba(0, 57, 132, 0.9);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.home-faq h6 {
    color: #111111;
    font-size: 20px;
}

.home-faq p {
    color: #333333;
    line-height: 125%;
}

.home-faq-item {
    margin-top: 1.5rem;
}

.home-organisers {
    background-color: #1e5cb1;
    padding: 5rem 0 5rem 0;
}

.home-organisers h2 {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.home-organisers h6 {
    color: rgba(240, 240, 240, 0.9);
    font-size: 20px;
}

.home-organisers p {
    color: rgba(235, 235, 235, 0.9);
    line-height: 125%;
    text-transform: uppercase;
}

.home-organisers-apply p {
    color: rgba(235, 235, 235, 0.9);
    line-height: 125%;
    text-transform: none !important;
}

.home-organisers-apply a {
    color: rgba(235, 235, 235, 0.8);
    line-height: 100%;
    font-weight: 800;
}

.home-organisers-item {
    margin-top: 1.5rem;
}

.home-organisers-item img {
    width: 75%;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.footer {
    background-color: rgba(0, 57, 132, 1) !important;
    position: unset !important;
}

.form-home p, .form-home a {
    font-size: 10px !important;
    text-transform: uppercase !important;
    line-height: 150%;
}

.home-button3 {
    display: inline-block;
    border: none;
    color: #fff !important;
    padding: 9px 25px !important;
    margin-top: -1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #1e5cb1;
    text-transform: uppercase;
    font-size: 13px;
    width: 100%;
    font-weight: 400 !important;
}

@media (min-width: 600px) {
    .home-button3 {
        padding: 9px 24px !important;
        margin-top: -1px;
    }
}

.home-button3:hover {
    background-color: rgba(0, 57, 132, 1) !important;
    color: #fff !important;
}

.home-button4 {
    display: inline-block;
    border: none;
    color: #fff !important;
    padding: 9px 25px !important;
    margin-top: -1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #3F7ED1;
    text-transform: uppercase;
    font-size: 13px;
    width: 100%;
    font-weight: 400 !important;
}

@media (min-width: 600px) {
    .home-button4 {
        padding: 9px 24px !important;
        margin-top: -1px;
    }
}

.home-button4:hover {
    background-color: rgba(0, 57, 132, 1) !important;
    color: #fff !important;
}

@media (max-width: 768px) {
  .home-mobile-center {
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1rem;
  }
}

.home-companies {
    background-color: #3F7ED1;
    padding: 5rem 0 5rem 0;
}

.home-companies h2 {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.home-companies h3, .home-organisers h3 {
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.home-companies h6, .home-organisers h6 {
    color: rgba(240, 240, 240, 0.9);
    font-size: 20px;
}

.home-companies p {
    color: rgba(235, 235, 235, 0.9);
    line-height: 125%;
}

.home-companies a {
    color: rgba(235, 235, 235, 0.8);
    line-height: 100%;
    font-weight: 800;
}

.home-companies-item {
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.home-companies-item:first-child {
    margin-left: 0 !important;
}

.home-companies-center {
    margin-left: auto;
    margin-right: auto;
}

.company-tera img {
    height: 75px;
}

.company-giga img {
    height: 70px;
}

.company-mega img {
    height: 65px;
}

.company-kilo img {
    height: 60px;
}

.company-mili img {
    height: 55px;
}

.company-partner img {
    /*height: 50px;*/
    height: 60px;
}

.sponsorship-button, .organisers-button {
    width: unset !important;
    padding: 15px 25px !important;
    margin-top: 1rem;
}

.form-privacy, .form-privacy a {
    margin-bottom: 1rem !important;
    font-size: 10px !important;
}
