html, body {
    height: 100%;
}

.container-home {
    height: 100%;
    overflow: hidden;
}

.home-top {
    position: relative;
}

.home-picture {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
}

.home-picture img {
    width: 100%;
    margin-bottom: 2.5rem;
}

#home-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.25;
  z-index: -50;
}

.home-titles h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.home-titles h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 2rem;
}

.home-titles p, .home-titles a {
    font-size: 15px;
    text-transform: uppercase;
}

.home-background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -100;
  position: fixed;
}

.background-color {
    background-color: #003984;
}

body {
    background-color: #003984 !important;
}

.home-button {
  display: inline-block;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 30px;
  padding: 8px 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 600px) {
  .home-button {
    padding: 6px 24px;
  }
}

.home-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.home-links {
  margin-top: -0.25rem;
}

.home-links p, .home-links a {
  font-size: 12px !important;
}

.home-button2 {
  display: inline-block;
  color: #fff;
}

.home-button2:hover {
  color: rgba(255, 255, 255, 0.5);
}

.home-faq {
    background-color: #f0f0f0;
    padding: 5rem 0 5rem 0;
}

.home-faq h2 {
    color: rgba(0, 57, 132, 0.9);
    margin-bottom: 1rem;
}

.home-faq h6 {
    color: #111111;
    font-size: 20px;
}

.home-faq p {
    color: #333333;
    line-height: 125%;
}

.home-faq-item {
    margin-top: 1.5rem;
}

.footer {
    background-color: rgba(0, 57, 132, 1) !important;
    position: unset !important;
}
