{% load static %}
{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#003984">
        <meta name="author" content="{{ hk_name }}">
        <meta name="description" content="{{ hk_description }}">
        <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
        <!-- TODO: Add social network URLs and information -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        {% block head %}
        {% endblock %}

        <title>{% block title_plain %}{% block title %}{% block head_title %}{% endblock %} | {% endblock %}{% if event %}{{ event.name }} {{ event.starts_at | date:"Y" }}{% else %}{{ hk_app_name }}{% endif %}{% endblock %}</title>
    </head>
    <body>
        {% block background %}
            <div class="background"></div>
        {% endblock %}
        {% block navbar %}
            <header class="header-area">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container box_1620">
                            <!-- TODO: Change logo when PNG is ready -->
                            <a class="navbar-brand white-text" style="color: #eeeeee;" href="/">{{ hk_app_name }}</a>
                            <!--<a class="navbar-brand white-text" href="/"><img src="{% static 'img/logo.png' %}" /></a>-->
                            <!-- TODO: Fix mobile menu -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                                <ul class="nav navbar-nav menu_nav justify-content-end">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'app_home' %}">Home</a></li>
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_admin %}
                                            <li class="nav-item{% if request.resolver_match.url_name == "admin:index" %} active{% endif %}">
                                                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                                            </li>
                                        {% endif %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'app_dashboard' %}">Dashboard</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'user_logout' %}">Logout</a></li>
                                        <li class="nav-item"><a href="{% url 'user_profile' %}"><img class="header-profile" src="{{ request.user.picture.crop.500x500 }}"/></a></li>
                                    {% else %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'user_login' %}">Login</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'user_signup' %}">Signup</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        {% endblock %}
        <!-- Add error/info messages display -->
        {% block body_plain %}
            <div class="content container">
                <div class="content-inside">
                    {% block body %}
                        <div class="margin-top">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        {% block extra_body %}
                        {% endblock %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block footer %}
            <footer class="footer navbar-fixed-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mobile-center">
                            <p>Need help? Ping us at {{ hk_email_contact | urlize }}!</p>
                        </div>
                        <div class="social-icons col-sm-6 text-right text-center-xs mobile-center">
                            {% include "include/social.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" style="margin-bottom: 15px;">
                            <small> Made with 💛 by students in KTH 🇸🇪</small>
                        </div>
                        <div class="col-md-12 text-center footer-upper">
                            <a href="/page/legal/legal-notice" class="legal-page">Legal notice</a>
                            <a href="/page/legal/terms-and-conditions" style="margin-left: 15px;" class="legal-page">Terms and Conditions</a>
                            <a href="/page/legal/privacy-and-cookies" style="margin-left: 15px;" class="legal-page">Privacy and Cookies</a>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
