{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load app_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block navbar %}
{% endblock %}

{% block background %}
    {% if event %}
        {% if background_image %}
            <div class="home-background" style="background-image: url('files/{{ event.background }}')"></div>
        {% else %}
            <div class="home-background background-color"></div>
        {% endif %}
    {% else %}
        <div class="background"></div>
    {% endif %}
{% endblock %}

{% block body_plain %}
    {% if event %}
        <div class="container-home">
            {% if background_video %}
                <video autoplay muted loop id="home-video">
                    <source src="files/{{ event.background }}" type="video/mp4">
                </video>
            {% endif %}
            <div class="row align-items-center-vertically home-top">
                <div class="col-md-4 home-picture">
                    <div class="row">
                        <div class="col-md-5 text-center home-picture">
                            <img class="img-fluid" src="files/{{ event.picture }}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center home-titles">
                            <h1>{{ event.name }}</h1>
                            <h3>{{ event.city }}, <span style="white-space: nowrap;">{{ event.starts_at | date:"F j" }} - {{ event.ends_at | date:"j" }}</span></h3>
                            {% if event.application_status == 0 %}
                                <p class="home-button">Applications <b>will open soon</b></p>
                                <div class="col-md-12 text-center home-links">
                                    {% if request.user.is_authenticated %}
                                        <p>Hej {{ request.user.name }}, go to the <b><a class="home-button2" href="/dashboard">dashboard</a></b>?</p>
                                    {% else %}
                                        <p>Meanwhile you can <b><a class="home-button2" href="/user/login">login</a></b> or <b><a class="home-button2" href="/user/signup">register</a></b></p>
                                    {% endif %}
                                </div>
                            {% elif event.application_status == 1 %}
                                <a class="home-button" href="event/{{ event.code }}/apply">Apply now to {{ event.name }} {{ event.starts_at | date:"Y" }} <i style="padding-left: 10px;" class="fas fa-long-arrow-alt-right"></i></a>
                            {% else %}
                                <p class="home-button">Applications <b>closed</b></p>
                                <div class="col-md-12 text-center home-links">
                                    {% if request.user.is_authenticated %}
                                        <p>Hej {{ request.user.name }}, go to the <b><a class="home-button2" href="/dashboard">dashboard</a></b>?</p>
                                    {% else %}
                                        <p>You can <b><a class="home-button2" href="/user/signup">register</a></b> for next time</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if faq %}
            <div class="home-faq">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>FAQ</h2>
                            <div class="row">
                                {% for faq_item in faq %}
                                    <div class="col-md-4 text-center home-faq-item col-centered">
                                        <h6>{{ faq_item.title }}</h6>
                                        <p>{{ faq_item.description }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container-home">
            <div class="row align-items-center-vertically home-top">
                <div class="col-md-4 home-picture">
                    <div class="row">
                        <div class="col-md-5 text-center home-picture">
                            <img class="img-fluid" src="{% static "img/logo_wh.png" %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center home-titles">
                            <p class="home-button">No events <b>at the moment</b></p>
                            <div class="col-md-12 text-center home-links">
                                {% if request.user.is_authenticated %}
                                    <p>Hej {{ request.user.name }}, go to the <b><a class="home-button2" href="/dashboard">dashboard</a></b>?</p>
                                {% else %}
                                    <p>Meanwhile you can <b><a class="home-button2" href="/user/login">login</a></b> or <b><a class="home-button2" href="/user/signup">register</a></b></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
